@tailwind base;
@tailwind components;
@tailwind utilities;

.backfaceH {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.portraitFelt {
  @media (orientation: portrait) {
    background-image: url('./assets/craps_images/table/feltm.png');
  }
}
.landscapeFelt {
  @media (orientation: landscape) {
    background-image: url('./assets/craps_images/table/felt.png');
  }
}
